{% extends "base_generic.html" %}

{% block content %}
    <h1>Автор: {{ author.last_name }}, {{ author.first_name }}</h1>

    <p>
        {{ author.date_of_birth }} -
        {% if author.date_of_death %}
            {{ author.date_of_death }}
        {% endif %}

    </p>

    <br><h4>Книги</h4><br>
    {% for book in author.book_set.all %}
        <div>
            <a href="{% url 'book-detail' book.pk %}"><strong>{{ book.title }}</strong></a> ({{ book.id }})
            <p>{{ book.summary }}</p>
        </div>
    {% endfor %}

    <br>
    {% if user.is_authenticated and user_librarian or user.is_staff %}
        <div>
            <a href="{% url 'author-update' author.pk %}">Изменить автора</a><br>
            <a href="{% url 'author-delete' author.pk %}">Удалить автора</a>
        </div>
    {% endif %}

{% endblock %}