{% extends "base_generic.html" %}

{% block content %}
    <h1>Автор: {{ author.last_name }}, {{ author.first_name }}</h1>

    <p>
        {{ author.date_of_birth }} -
        {% if author.date_of_death %}
            {{ author.date_of_death }}
        {% endif %}

    </p>

    <br><h4>Книги</h4><br>
    {% for book in author.book_set.all %}
        <div>
            <a href="{% url 'book-detail' book.pk %}"><strong>{{ book.title }}</strong></a> ({{ book.id }})
            <p>{{ book.summary }}</p>
        </div>
    {% endfor %}

    <br>
    {% if user.is_staff %}
        <div>
            {% if perms.catalog.change_author %}
                <a href="{% url 'author-update' author.id %}">Изменить автора</a><br>
            {% endif %}

            {% if not author.book_set.all and perms.catalog.delete_author %}
                <a href="{% url 'author-delete' author.id %}">Удалить автора</a>
            {% else %}
                <p>Вы не можете удалить автора, если у него есть книги! Сначала удалите все книги автора.</p>
            {% endif %}

        </div>
    {% endif %}

{% endblock %}